@import "mixins";

$colorBackgroundBody: #F9F9F9;
$colorBackgroundHighlight: #9191EA;
$colorBackgroundSidebar: #555555;
$navigationWidth: 220px;
$dockbarHeight: 41px;

.aui .color-scheme-dashboard {
    padding: 0;
    
    &.borderless-default {
        background-color: #FFF;

        .portlet-dockbar {
            .navbar-inner {
                background: $colorBackgroundBody;
            }
        }
    }

    &.dockbar-ready {
        .nav-helpers {
            display: none;
        }
    }

    #banner {
        background: #333;
        position: fixed;
        width: $navigationWidth;
        height: 100%;
        z-index: 1040;
    }

    #heading {
        background: none #ececed;
        padding-top: 40px;

        .site-title {
            font-size: 26px;
            background: #4d4d4d;
            padding: 26px 10px;
            text-align: center;

            .icon-stack {
                font-size: 56px;
            }
        }
    }

    #subbanner {
        display: none;
    }

    #navigation {
        .nav {
            float: none;
            
            > li {
                float: none;
                text-align: center;
                border-width: 1px 0 0 0;
                margin: 2px 10px;
                padding: 6px 0;

                > a {
                    padding: 10px 8px 10px 24px;
                    text-align: left;
                }

                a {
                    &:hover {
                        color: #fff;
                    }
                }
                
                &.open {
                    
                    > a {
                        background-color: #f41c52;
                    }
                        
                    .dropdown-menu {
                        display: inline-block;
                    }
                }
            }

            .dropdown-menu {
                left: 0;
                top: 0;
                position: relative;
                float: none;
                background: #f41c52;
                padding: 0;
                text-align: left;
                @include box-shadow(none);

                a {
                    color: #fff;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    
                    &:hover {
                        background: #f14872;
                    }
                }
            }
        }

        .nav-helpers {
            position: fixed;
            right: 0;
            top: 0;

            .nav-item-sitenavigationtoggle {
                margin: 2px;
                padding: 0;
                border-width: 0;
            }
        }

        .navbar-inner {
            .nav-collapse {
                height: auto;
                overflow: visible;
            }
        }
    }

    #main-content {
        padding: 20px 40px;
    }

    #content {
        margin-left: $navigationWidth;
    }

    #breadcrumbs {
        .breadcrumb {
            padding: 0 15px;
            line-height: 40px;
        }
    }

    .breadcrumb {
        margin: 0;
        
        a {
            color: #a6a6a6;
        }
    }

    .portlet {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #D3D3D3;
        margin-bottom: 18px;
        @include border-radius(4px);

        .portlet-topper {
            height: 40px;
            line-height: 40px;
            @include background-image(linear-gradient(#FAFAFA, #E9E9E9));
            @include border-radius(4px 4px 0 0);
        }

        .navbar-inner {
            @include box-shadow(none);
        }
    }

    .portlet-dockbar {
        .dockbar {
            margin-left: 220px;
            position: fixed;
            z-index: 1040;

            .user-avatar-image {
                max-height: 18px;
            }
        }
    }
    
    .lfr-hudcrumbs {
        position: absolute;
    }
    
    .alert-info,
    .portlet-msg-help,
    .portlet-msg-info,
    .portlet-msg-progress,
    .portlet-msg-success,
    .portlet-msg-error {
        display: block;
    }
}