@import "mixins";

/* ---------- Extras ---------- */

.aui {
    .ui-inputfield {
        box-shadow: none;

        &.ui-state-focus {
            box-shadow: 0 0 5px #85b2cb;
        }

        &.ui-state-hover {
            box-shadow: 0 0 5px #85b2cb;
        }
    }

    .ui-widget-content {
        .ui-inputfield {
            box-shadow: none;

            &.ui-state-focus {
                box-shadow: 0 0 5px #85b2cb;
            }

            &.ui-state-hover {
                box-shadow: 0 0 5px #85b2cb;
            }
        }
    }

    .ui-widget-header {
        .ui-inputfield {
            box-shadow: none;

            &.ui-state-focus {
                box-shadow: 0 0 5px #85b2cb;
            }

            &.ui-state-hover {
                box-shadow: 0 0 5px #85b2cb;
            }
        }
    }
}