@import "responsive";

$menu-background-colour: #303030;
$menu-light-background-colour: #585858;

#header-wrapper {
	height: 100%;
	background-color: $menu-background-colour;
	position: fixed;
	width: 220px;
	float: left;
	#banner {
		height: 100%;
		#heading {
			height: 189px;
			background-color: $menu-light-background-colour;
			width: 100%;
			margin-top: 40px;
			padding-top: 30px;
			h1 {
				width: 120px;
				margin: 0 auto;
				display: block;
				a {
					width: 120px;
				}
			}
		}
	}
}

#ControlMenu {
	position: inherit;
	display: block;
}

img {
	width: 120px;
	margin: auto;
}
#content {
	padding-left: 220px;
	margin-top: 0;
	float: left;
	width: 100%;
}

.control-menu-nav-category.user-control-group {
	@media (max-width: 980px) {
		margin-right: 85px;
	}
}
.control-menu-nav-category.sites-control-group {
	position: absolute;
	left: 260px;
	z-index: 2000;
}

#_com_liferay_product_navigation_product_menu_web_portlet_ProductMenuPortlet_sovq__null__null {
	visibility: hidden;
}

/* .control-menu-icon.lfr-portal-tooltip.product-menu-toggle.sidenav-toggler.active.open {
	margin-left: 280px;
} */
