#header-wrapper {
	height: 100%;
	background-color: #656363;
	position: fixed;
	width: 25%;
	/* display: inline; */
	float: left;
	#banner {
		height: 100%;
		#heading {
			height: 25%;
		}
	}
}
img {
	width: 80%;
	margin: auto;
}
#content {
	width: 75%;
	/* display: inline; */
	float: right;
}
#breadcrumbs {
	width: 100%;
	height: 40px;
	position: fixed;
}

