@import "navigation";

$menu-background-colour: #303030;
$menu-light-background-colour: #585858;

#header-wrapper {
	height: 100%;
	background-color: $menu-background-colour;
	position: fixed;
	width: 220px;
	float: left;
	#banner {
		height: 100%;
		#heading {
			height: 189px;
			background-color: $menu-light-background-colour;
			width: 100%;
			margin-top: 40px;
			padding-top: 30px;
			h1 {
				width: 120px;
				margin: 0 auto;
				display: block;
				a {
					width: 120px;
				}
			}
		}
	}
}

#ControlMenu {
	/* position: fixed; */
	display: block;
}

img {
	width: 120px;
	margin: auto;
}
#content {
	margin-left: 220px;
	margin-top: 40px;
	float: left;
}

