$nav_item_background: #fc1c53;
$nav_item_text_color: #a3a3a3;
$nav_item_text_active_color: #f8f8f8;
$green_for_sign_in: #25C32A;
$nav_child_hover: #F65D81;

#navigation {
	height: 295px;
	.navbar-inner {
		height: 100%;
		margin-top: 4px;
		.navlist {
			display: block;
		}
	}
	ul {
		padding-inline-start: 0px;
	}
li {
	height: 46px;
	width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #888;
	padding-top: 6px;
	a {
		height: 34px;
		width: 200px;
		padding-top: 8px;
		color: $nav_item_text_color;
		display: block;
		span {
			width: 100%;
			height: 100%;
			margin-left: 30px;
			text-transform: uppercase;
		}
	}
	a:hover {
		 color: $nav_item_text_active_color;
		 background-color: $nav_item_background;
		 text-decoration: none;
	}
	.active {
		color: $nav_item_text_active_color;
	}
}

.selected {
	a {
		color: $nav_item_text_active_color !important;
	}
}
.last_element_in_list {
	border: none !important;
	text-transform: uppercase;
	#sign-in {
		color: $green_for_sign_in;
		padding-left: 30px;
	}
	#sign-in:hover {
		background-color: $green_for_sign_in;
		&:hover {
			color: $nav_item_text_active_color !important;
		}
	}
	#sign-out {
		padding-left: 30px;
		color: $nav_item_background;
		&:hover {
			color: $nav_item_text_active_color !important;
		}
	}
}
.child-element {
	color:white !important;
}
.dropdown {
	&.open {
		height: 360px;
	}
	a {
		span::after {
			content: " \2c5";
		}
	}
}
.dropdown-menu {
	width: 250px;
	background-color: $nav_item_background;
	margin-top: 0;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	border-radius: 0;
	border-width: 0;
	
	position: relative;
	/*display: none; */
	left: 0;
	top: 0;
	padding: 0;
	float: none;
	
	li {
		width: 100% !important;
		border: none !important;
		margin: 0;
		height: 35px !important;
		text-transform: none;
		padding: 0 !important;
		a{
			width: 100%;
			padding-left: 30px;
			margin-bottom: 8px;
			background-color: transparent !important;
		}
	}
	li:hover {
		background-color: $nav_child_hover;
	}
}
/* .dropdown-menu:hover {
	display: block;
	position: relative;
	bottom: 320px;
} */
}
