$nav_item_background: #f41c52;
$nav_item_text_color: #BBB;
$nav_item_text_active_color: #EEE;
$green_sign_in_text: #7fc282;
$green_sign_in_hover: #5cb260;
$nav_child_hover: #f14872;

#navigation {
	height: 295px;
	.navbar-inner {
		height: 100%;
		margin-top: 4px;
		.navlist {
			display: block;
		}
	}
	ul {
		padding-inline-start: 0px;
	}
li {
	height: 46px;
	width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #888;
	padding-top: 6px;
	a {
		height: 34px;
		width: 200px;
		padding-top: 8px;
		color: $nav_item_text_color;
		display: block;
		span {
			width: 100%;
			height: 100%;
			margin-left: 30px;
			text-transform: uppercase;
		}
	}
	a:hover {
		color: $nav_item_text_active_color;
		background-color: $nav_item_background;
		text-decoration: none;
	}
	.active {
		color: $nav_item_text_active_color;
	}
}

.selected {
	a {
		color: $nav_item_text_active_color !important;
	}
}

.main-list > :first-child {
	a{
		span::before {
			content: "\f015";
    		font-family: 'fontawesome-alloy';
		}
	}
}

.last_element_in_list {
	border: none !important;
	text-transform: uppercase;
	#sign-in {
		color: $green_sign_in_text;
		padding-left: 30px;
		&:hover {
			background-color: $green_sign_in_hover;
			color: $nav_item_text_active_color !important;
		}
		&::after {
			content: " \f090";
    		font-family: 'fontawesome-alloy';
		}
	}

	#sign-out {
		padding-left: 30px;
		color: $nav_item_background;
		&:hover {
			color: $nav_item_text_active_color !important;
		}
		&::after {
			content: " \f08b";
			font-family: 'fontawesome-alloy';
		}
	}
}
.child-element {
	color:white !important;
}
.dropdown {
	&.open {
		height: 395px;
		ul {
			display:inline-block;
		}
	}
	a {
		span::after {
			content: " \f0d7";
			font-family: 'fontawesome-alloy';
		}
	}
}
.dropdown-menu {
	/*min-width: 250px;*/
	
	background-color: $nav_item_background;
	margin-top: 0;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	border-radius: 0;
	border-width: 0;
	max-height: 400px !important;
	position: relative;
	/*display: none; */
	left: 0;
	top: 0;
	padding: 0;
	float: none;
	
	li {
		width: 100% !important;
		border: none !important;
		margin: 0;
		height: 35px !important;
		text-transform: none;
		padding: 0 !important;
		a{
			width: 100%;
			padding-left: 30px;
			margin-bottom: 8px;
			background-color: transparent !important;
		}
	}
	li:hover {
		background-color: $nav_child_hover;
	}
}
}
