$nav_item_background: #fc1c53;
$nav_item_text_color: #d3d3d3;
$nav_item_text_active_color: #f8f8f8;

#navigation {
	height: 295px;
	.navbar-inner {
		height: 100%;
		.collapse {
			display: block;
		}
	}
	ul {
	padding-inline-start: 0px;
}
li {
	height: 46px;
	width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #888;
	padding-top: 4px;
	a {
		height: 34px;
		width: 200px;
		padding-top: 7px;
		color: $nav_item_text_color;
		display: block;
		span {
			width: 100%;
			height: 100%;
			margin-left: 30px;
			text-transform: uppercase;
		}
	}
	a:hover {
		 color: $nav_item_text_active_color;
		 background-color: $nav_item_background;
		 text-decoration: none;
	}
}
}
