$title-colour: #E0E0E0;
$portlet-decorate-background: #FFFEE5;

.portlet-decorate {
	.portlet {
		margin-bottom: 24px;
	}

	.portlet-title-text {
		color: $title-colour;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.5px;
		line-height: 1.5;
	}

	.portlet-content {
		background-color: $portlet-decorate-background;
		border: none;
		border-radius: 0.5rem;
		padding: 10px;
	}
}
.portlet-topper {
	height: 30px;
}
.field-wrapper {
		position: absolute;
		right: 4px;
		top: 2px;

		a {
			color: #FFF;
		}
	}

	.portlet {
		margin-bottom: 0;
		margin-left: 40px;
	}
	
#p_p_id_com_liferay_login_web_portlet_LoginPortlet_ {
	width: 100%;
	margin-top: 80px;
}	

.portlet-icon-back {
	width: 200px;
}
.portlet-options {
	width: 40px;
	float: right;
}
.portlet-title-default {
	display: inline;
}
.portlet-topper-toolbar {
	display: inline;
}
.dropdown.lfr-icon-menu.portlet-options {
	float: right;
	width: 40px;
}
.portlet-layout.row {
	width: 100%;
}
	